{% extends 'home/base.html' %}

{% block content %}

<h1>Accounts</h1>
<h2>Hi ! {{ user }}</h2>

{% if user.is_authenticated %}
<p>
    <p><a href="">Profile</a></p>
    <p><a href="{% url 'accounts:password_change' %}">Change Password</a></p>
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</p>

{% else %}
<p><a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
{% endif %}

{% endblock %}